*
{ 
	font-size:100%;
	font-family: 'Goldman', cursive;
	margin: 0px;
	padding: 0px;
	content: "";
	display: block;
    clear: both;
	transition-property: display;
    transition-duration: 0.5s;
}
#youtube-audio{
	display:bolck;
	position:relative;
}
#youtube-icon{
	height:40px;
	width:40px;
}
.desplazar{
	display:flex;
	margin:0 auto;
	padding:0 1%;
	text-align:center;
	color: rgb(0,0,0);
}
body{ /* estilo de fondo*/

	/*background:linear-gradient(90deg, rgb(46, 150, 99), rgb(109, 20, 148));*/
	background-image: url(archive/web-design-website-coding-concept3.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
title{
	visibility:hidden;
	/*display:none;*/
}
#general{ /* diseño de la estructura de la pagina con grid*/
	display:grid;
	/*grid-template-rows: 8.5rem auto 200px;*/
	grid-template-columns: 1.2fr 2fr 2fr 2fr;
	grid-template-areas:
		"main main   main   main"
		"main    main   main   main"
		"footer footer footer footer";
}
nav{ /* estilo de menu de nav*/
	grid-area: nav;
	box-shadow: 0px 0px 10px black;
	position:fixed;
	display:flex;
	top:0.09%;
	right:0.3%;
	background-color:rgba(43, 44, 45,1);
	border-radius:10px;
	font-size: 1.2em;
	width:15%;
	margin: 2%;
}
nav ol{
	width:70%;
	display:flex;
	flex-direction:row;
	padding:auto;
	background-color:rgb(200,200,200);
	border-radius:10px;
}
nav li{
	display:flex;
	font-size:90%;
	margin: auto 1%;
	text-align:center;
	width:90%;
	padding:0 auto;
}

nav li:hover {
  transition-property: background-color;
  transition-duration: 1s;
  border-radius:5px;
  /*background: linear-gradient(90deg, rgb(46, 150, 99), rgb(109, 20, 148));*/
}
nav h3{
	text-shadow: 0px 0px 40px black;
	width:auto;
	margin:0 auto;
	text-align:center;
	font-size: 2em;
	color:white;
}
#ocultarMenu{
	display:none;
}
/* fin de estilo de menu navegador*/

#redesCabecera{
	display:flex;
	flex-direction:row;
	position:relative;
	top:10px;
	left:70%;
	background-color:white;
	border-radius:15px;
	padding:auto;
	height:11vh;
	width:25%;
}
#redesCabecera img{
	height:10vh;
	width:auto;
	margin:auto;
}
.icoAnimado{
	display:flex;
	height:auto;
	width:4em;
	margin:5%;
	box-shadow: 0px 0px 20px black;
	border-radius:10px;
}
h1{
	width:90%;
	margin:auto;
	text-align:center;
	font-size: 2em;
	text-shadow: 0px 0px 15px white;
 }
h2{
	display:inline;
	font-size:5vh;
	margin:auto 0;
}
#fullname{
	margin:0;
	padding:0;
	display:inline;
}
.contContenido li{
	  display: flex;
	  flex-direction: row;
	  align-items: center;
}
p{
	font-size:4vh;
	margin:auto;
	padding:5%;
}

/* estilo del contenido de la pagina*/
.contContenido li p{
	padding: 2%;
	font-size:3vh;
	display:inline;
	text-align:center;

}
#infoPersonal{
	height:75vh;
	display:block;
}

#fEducativa{
	height:75vh;
	display:block;
}
#Habilidades2{
	height:75vh;
	display:block;
}
#dLaboral{
	height:75vh;
	display:block;
}


#imgPerfil{
	border-radius:15%;
	width:auto;
	height:20em;
	display:block;
	margin: auto;
}
#imgPerfil:hover{
	  transition-property: height;
      transition-duration: 0.5s;
	  height:25em;
}
footer {
	margin-top:1%;
	background-color:rgba(43, 44, 45,0.95);
	padding:5%;
	grid-area: footer;
}
.footerCont{
	padding:auto;
	display:flex;
	justify-content:center;
}
.footerCont h3{
	color:white;
	margin:auto 1%;
	display:flex;
	flex:100%;
	flex-wrap:wrap;
}
.divFooter{
	height:2%;
	width:auto;
	margin:0 5%;
}

#tituloCont{
	display:flex;
	margin:auto 0;
	height:100%;
	padding:auto;
}
 .contContenido{ /* da el color de fondo y caracteristicas a la caja contenedora de cada seccion */
	 border-radius:5px;
	 display:flex;
	 background: linear-gradient(/*90deg, rgba(36, 140, 89,0.6)*/rgba(46,109,133,0.95), rgba(99, 10, 138,0.95));
	 padding:10%;
	 box-shadow: 0px 0px 10px black;
	 margin-top: 1%;
 }


.main{
	padding:0 1% 1%;
	border-radius:10px;
	/*background-color: rgba(0,100,201,.8);*/
	box-shadow: 0px 0px 5px black;
}

 #imagenCont{
	 display:flex;
	 flex-direction:row;
	 justify-content:center;
	 height:72vh;
	 justify-content:center;
 }
#linkTercero{
	color:white;
}
#general header {
	display:none;
	grid-area: header;
	background-color:linear-gradient(90deg, rgb(46, 150, 99), rgb(109, 20, 148));
	width:95%;
	border-radius:10px;
	height:20vh;
	flex-direction: row;
	align-items: center;
	box-shadow: 0px 0px 10px black;
	margin:1% 3%;
}

#general .main {
	display:flex;
	flex-direction:column;
	grid-area: main;
}

#icoCont{
	 display:flex;
	 flex-wrap:wrap;
	 flex:100%;
}

@media only screen and (max-width: 900px) {
	*{
		font-size:100%;
	}
	body{
		justify-content: center;
		background-size: cover;
	}
	 #imgPerfil:hover{
	  transition-property: height;
      transition-duration: 0.5s;
	  height:12em;
	}
	#imgPerfil{	
		height:10em;
	}
	#imagenCont img{
		border-radius:5px;
		display:block;
		margin:auto;
	 }
	 p{
		font-size:3vh;
		display:block;
		margin:auto;
	 }
	 .contContenido{
		 margin:1%0;
		 flex-wrap:wrap;
	 }
	 #imagenCont{
		margin:0;
		padding:15%;
		justify-content:center;
		display:inline-flex;
		flex-direction:column;
		height:auto;
	 }
	 .main{
		padding:0%
	}
	#general {
		display:block;
		width:100%;
	}
	h1{
	width:100%;
	margin:auto;
	text-align:center;
	}
	nav ol{
		border-radius:0px;
		margin:0 auto;
		display:none;
		flex-direction:column;
	}
	nav{
		flex-direction:column;
		width:100%;
		margin:0;
		position:relative;
		border-radius:0px;
		/*margin:4% 2%;*/
	}
	nav h3{
		margin:3% auto;
		padding:3%;
		text-align:center;
		font-size:1em;
	}
	nav li{
		margin:0 auto;
		text-align:center;
		padding:0 auto;
	}
	img{
		width:auto;
		height:10em;
	}
	footer{
		padding:5%;
	}
	.footerCont{
		margin:10%;
		display:block;
	}
	.footerCont h3{
		text-align:center;
		margin:auto;
		display:block;
	}
	.desplazar{
	display:block;
	margin:0 auto;
	padding:1% 1%;
	text-align:center;
	color: rgb(0,0,0);
	}
	#tituloCont{
		margin:0 auto;	
	}
	#redesCabecera{
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		position:relative;
		top:-20px;
		left:28%;
		background-color:white;
		border-radius:5px;
		padding:auto;
		height:10vh;
		width:45%;
	}
	#redesCabecera img{
		height:8vh;
		width:auto;
		margin:auto;
	}
}

@keyframes mover{
	0%{
		transform:translate(100%);
	}
}