*
{ 
	font-size:100%;
	font-family:Lora;
	margin: 0px;
	padding: 0px;
	content: "";
	display: block;
    clear: both;
	transition-property: display;
    transition-duration: 0.5s;
}
#ocultarMenu{
	display:none;
}
.contContenido li{
	  display: flex;
	  flex-direction: row;
	  align-items: center;
}
.contContenido li p{
	padding: 2%;
	font-size:1em;
	display:inline;
	text-align:center;

}
.footerCont{
	padding:auto;
	display:flex;
	justify-content:center;
}
.footerCont h3{
	display:flex;
	margin:1%;
}
h2{
	font-size:5vh;
	margin:5% 0;
}
.icoRank{
	display:inline;
	height:40px;
	width:auto;
}
#infoPersonal{
	height:75vh;
	display:block;
}
#Habilidades{
	height:auto;
	display:flex;
	flex-direction:column;
}
#fEducativa{
	height:75vh;
	display:block;
}
#Habilidades2{
	height:75vh;
	display:block;
}
#dLaboral{
	height:75vh;
	display:block;
}

title{
	visibility:hidden;
	/*display:none;*/
}
#imgPerfil{
	border-radius:5px;
	width:auto;
	height:15em;
	display:block;
	margin: auto;
}
#imgPerfil:hover{
	  transition-property: height;
      transition-duration: 0.5s;
	  height:20em;
}

h1{
	width:90%;
	margin:auto;
	text-align:center;
	font-size: 2em;
	text-shadow: 0px 0px 15px white;
 }
nav{
	position:fixed;
	display:flex;
	flex-direction:column;
	top:0.09%;
	background-color:rgba(46, 150, 99,.6);
	border-radius:10px;
	font-size: 1.2em;
	width:15%;
	margin: 2%;
}
nav ol{
	display:block;
	padding:1%;
	background-color:rgb(0,80,201,);
	border-radius:10px;
}
nav li{
	font-size:90%;
	margin-top: 5%;
	text-align:center;
	
}

nav li:hover {
  transition-property: background-color;
  transition-duration: 1s;
  border-radius:5px;
  background: linear-gradient(90deg, rgb(46, 150, 99), rgb(109, 20, 148));
  color: black;
}

 .contContenido{ /* da el color de fondo y caracteristicas a la caja contenedora de cada seccion */
	 border-radius:5px;
	 
	background: linear-gradient(90deg, rgb(46, 150, 99), rgb(109, 20, 148));


	 padding:10%;
	 box-shadow: 0px 0px 10px black;
	 margin-top: 1%;
 }
body{ /* estilo de fondo*/
	background:linear-gradient(90deg, rgb(46, 150, 99), rgb(109, 20, 148));
	/*background-image: url(archive/web-design-website-coding-concept2.png);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.main{
	padding:0 1% 1%;
	border-radius:10px;
	/*background-color: rgba(0,100,201,.8);*/
	box-shadow: 0px 0px 5px black;
}

 #imagenCont{
	 display:flex;
	 flex-direction:row;
	 justify-content:center;
	 height:72vh;
	 justify-content:center;
 }
nav h3{
	text-shadow: 0px 0px 40px black;
	width:auto;
	margin:auto;
	text-align:center;
	font-size: 2em;
}

p{
	font-size:3vh;
	margin:auto;
	padding:5%;
}



#general{ /* diseo de la estructura de la pagina con grid*/
	display:grid;
	grid-template-rows: 8.5rem auto 200px;
	grid-template-columns: 1.2fr 2fr 2fr 2fr;
	grid-template-areas:
		"main main   main   main"
		"main    main   main   main"
		"footer footer footer footer";
}

#general header {
	display:none;
	grid-area: header;
	background-color:linear-gradient(90deg, rgb(46, 150, 99), rgb(109, 20, 148));
	width:95%;
	border-radius:10px;
	height:20vh;
	flex-direction: row;
	align-items: center;
	box-shadow: 0px 0px 10px black;
	margin:1% 3%;
}

#general nav {
	grid-area: nav;
	box-shadow: 0px 0px 10px black;
}
#general .main {
	display:flex;
	flex-direction:column;
	grid-area: main;
}
#general footer {
	padding:10%;
	grid-area: footer;
}


@media only screen and (max-width: 900px) {
	*{
		font-size:100%;
	}
	body{
		justify-content: center;
		background-size: cover;
	 }
	 #imgPerfil:hover{
	  transition-property: height;
      transition-duration: 0.5s;
	  height:12em;
	}
	#imgPerfil{	
		height:10em;
	}
	#imagenCont img{
		border-radius:5px;
		display:block;
		margin:auto;
	 }
	 p{
		font-size:3vh;
		display:block;
		margin:auto;
	 }
	 .contContenido{
		 margin: 10% 0;
	 }
	 #imagenCont{
		margin:0;
		padding:15%;
		justify-content:center;
		display:inline-flex;
		flex-direction:column;
		height:auto;
	 }
	 .main{
		padding:0%
	}
	#general {
		display:block;
		width:100%;
	}
	h1{
	width:100%;
	margin:auto;
	text-align:center;
	}
	nav ol{
		display:none;
	}
	nav{
		width:auto;
		position:relative;
		border-radius:0px;
		/*margin:4% 2%;*/
	}
	nav h3{
		margin:10% auto;
		padding:3%;
		text-align:center;
		font-size:1em;
	}
	nav li{
		margin:1%;
		text-align:center;
		padding:1%;
	}
	img{
		width:auto;
		height:10em;
	}
	footer{
		padding:5%;
	}
	.footerCont{
		margin:10%;
		display:block;
	}
	.footerCont h3{
		text-align:center;
		margin:auto;
		display:block;
	}

}

